# Manipulando, analisando, filtrando e resumindo dados em R
A linguagem R tem como um de seus grandes destaques o pacote Tidyverse.<br>
Para falar a verdade, o Tidyverse não é um pacote em si, mas sim um conjunto de pacotes.<br>
Dentro dele, encotramos o `dplyr`, que é instaldo automaticamente com o `install.packages("tidyverse")`.
Vamos aqui fazer uma análise do dataset `Consumo_cerveja.xlsx`. <br>
Esse dataset é o que chamamos de uma série temporal: ele tem uma sequência de datas e os valores de certas variáveis nesta sequência.<br>
Vamos dar uma olhada nessas variáveis e ver se descobrimos algo.<br>

Aqui uma [Cheat Sheet do dplyr](https://github.com/rstudio/cheatsheets/blob/master/data-transformation.pdf)

In [1]:
library("dplyr")
library("readxl")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
dataset <- read_excel("Consumo_cerveja.xlsx")

Agora que lemos o nosso arquivo para dentro do ambiente do R, vamos dar uma olhada nas colunas que temos. Para isso vamos usar a função nativa do `R` , a `names()`

In [3]:
names(dataset)

[1] "Data"                        "Temperatura Media (C)"
[3] "Temperatura Minima (C)"      "Temperatura Maxima (C)"
[5] "Precipitacao (mm)"           "Final de Semana"
[7] "Consumo de cerveja (litros)"

Vamos dar uma olhada no nosso dataset então. <br>
Para imprimir as primeiras `n` linhas nós usamos um comando do tipo `dataset[1:n,]`.<br>
A vírgula no final dos colchetes indica que todas as colunas devem ser selecionadas.<br>
Se a ideia fosse selecionar da linha 5 até a 25, das colunas 3 a 5 usariamos o seguinte comando:<br>
`dataset[5:25,3:5]`<br>
Agora se quiséssemos apenas a linha 22 e a 27 das colunas 2 e 5, usariamos:<br>
`dataset[c(22,27),c(2,5)]`

In [4]:
dataset[1:5,]

  Data       Temperatura Media (C) Temperatura Minima (C)
1 2015-01-01 27.30                 23.9
2 2015-01-02 27.02                 24.5
3 2015-01-03 24.82                 22.4
4 2015-01-04 23.98                 21.5
5 2015-01-05 23.82                 21.0
  Temperatura Maxima (C) Precipitacao (mm) Final de Semana
1 32.5                   0.0               0
2 33.5                   0.0               0
3 29.9                   0.0               1
4 28.6                   1.2               1
5 28.3                   0.0               0
  Consumo de cerveja (litros)
1 25461
2 28972
3 30814
4 29799
5 28900

Podemos ver que embaixo dos nomes das variáveis, temos valores como `<chr>` e `<dbl>`. <br>
Isso indica o tipo da variável interpretada pelo R.<br>
Por exemplo, no caso da data, o R interpretou como `<chr>`, ou seja, um texto. <br>
No caso das temperaturas mínimas e máximas foi interpretado `<dbl>` que significa um número com casas decimais. <br>
No caso da variável 'Fim de Semana', que foi interpretada como numero com casas decimais, é guardado o valor `1` se o dia corresponder a um dia do fim de semana e `0` se for um dia comum. Isso é o que chamamos de uma `variável lógica (binária)`. 
Ou seja, o `R` interpretou de forma errada o tipo da nossa variável, já que não é um numero com casas decimais e sim um valor lógico.
Vamos arrumar isso:

In [5]:
dataset$`Final de Semana` <- as.logical(dataset$`Final de Semana`)
#o `$` é usado para selecionar uma coluna

Vamos ver que, agora, o valor da variável é `<lgl>`, como queríamos.

In [6]:
dataset[1:5,]

  Data       Temperatura Media (C) Temperatura Minima (C)
1 2015-01-01 27.30                 23.9
2 2015-01-02 27.02                 24.5
3 2015-01-03 24.82                 22.4
4 2015-01-04 23.98                 21.5
5 2015-01-05 23.82                 21.0
  Temperatura Maxima (C) Precipitacao (mm) Final de Semana
1 32.5                   0.0               FALSE
2 33.5                   0.0               FALSE
3 29.9                   0.0                TRUE
4 28.6                   1.2                TRUE
5 28.3                   0.0               FALSE
  Consumo de cerveja (litros)
1 25461
2 28972
3 30814
4 29799
5 28900

## Deep dive in dplyr

Vamos agora nos aprofundar na biblioteca `dplyr`. <br>
Essa biblioteca é boa porque deixa o nosso código extremamente legível para um ser humano.<br>
Isso ocorre porque ela usa uma estrutura de "verbos" que regem o que será feito com a base de dados.<br>
Os verbos existentes na biblioteca são os seguintes:
1. `mutate()` - que adiciona novas variáveis (colunas) ao dataset a partir de operações/ aplicação de funções nas variáveis existentes 
2. `select()` - seleciona as colunas com base em critérios de nome
3. `filter()` - filtra os dados com base em valores.
4. `summarise()` - reduz um grande número de valores para valores resumo (como média, contagem, desvio, etc). Para quem mexe com excel, aqui seria algo para criar uma tabela dinâmica (pivot table). Em geral é usado com `group_by()`
5. `arrange()`- muda a ordenação das linhas com base em algum critério
<br>
<br>
Todos esses verbos podem ser performados tendo como critério um grupo, usando o `group_by()` , mas é mais comum usar isso no `summarise()`.

A estrutura de utilização dos verbos é bem simples: <br>
`base de dados %>% verbo`

Podemos aplicar vários verbos em seguida também, com a seguinte estutura (a ordem de execução será a ordem desses verbos): <br>
`base de dados %>% verbo1 %>% verbo2 %>% verbo3`

### `mutate()` - adicionando variáveis

Vamos aqui adicionar duas variáveis a partir de funções aplicadas em outras.<br>
Primeiro, vamo classificar dias com precipitação maior que 10mm como dias chuvosos, criando uma coluna lógica. <br>
A segunda coluna criada será a de amplitude térmica, obtida com a diferença entre as temperaturas máximas e mínimas.

In [8]:
dataset %>% mutate(
            `Dia chuvoso` = if_else(`Precipitacao (mm)` >= 10, TRUE, FALSE, missing = NULL),
            # a função if_else tem quatro argumentos. O primeiro é a 'afirmação lógica' a ser avaliada
            # no caso, essa afirmação é verificar se a precipitação é maior que 10mm.
            # o segundo argumento é o que será inputado no caso da afirmação ser verdadeira
            # o terceiro, o que será inputado no caso de falsa
            # e o quarto, o que será inputado no caso de missing value (valor faltante)
            `Amplitude térmica (C)` = `Temperatura Maxima (C)` - `Temperatura Minima (C)`
            )

    Data       Temperatura Media (C) Temperatura Minima (C)
1   2015-01-01 27.30                 23.9
2   2015-01-02 27.02                 24.5
3   2015-01-03 24.82                 22.4
4   2015-01-04 23.98                 21.5
5   2015-01-05 23.82                 21.0
6   2015-01-06 23.78                 20.1
7   2015-01-07 24.00                 19.5
8   2015-01-08 24.90                 19.5
9   2015-01-09 28.20                 21.9
10  2015-01-10 26.76                 22.1
11  2015-01-11 27.62                 22.2
12  2015-01-12 25.96                 21.4
13  2015-01-13 25.52                 21.2
14  2015-01-14 25.96                 21.3
15  2015-01-15 25.86                 21.5
16  2015-01-16 26.50                 22.3
17  2015-01-17 28.86                 22.0
18  2015-01-18 28.26                 23.4
19  2015-01-19 28.22                 22.7
20  2015-01-20 27.68                 23.3
21  2015-01-21 25.32                 22.7
22  2015-01-22 21.74                 19.2
23  2015-01-23 21.04                 18.5
24  2015-01-24 23.12                 19.0
25  2015-01-25 24.40                 18.1
26  2015-01-26 22.40                 18.9
27  2015-01-27 23.60                 20.5
28  2015-01-28 25.68                 20.1
29  2015-01-29 25.00                 21.5
30  2015-01-30 22.80                 20.9
⋮   ⋮          ⋮                     ⋮
336 2015-12-02 22.10                 18.2
337 2015-12-03 22.44                 20.2
338 2015-12-04 22.76                 19.0
339 2015-12-05 24.80                 19.5
340 2015-12-06 23.12                 20.6
341 2015-12-07 20.04                 18.0
342 2015-12-08 21.70                 18.0
343 2015-12-09 23.96                 19.6
344 2015-12-10 24.00                 22.2
345 2015-12-11 24.04                 20.7
346 2015-12-12 23.92                 20.6
347 2015-12-13 24.54                 19.3
348 2015-12-14 26.28                 21.1
349 2015-12-15 25.66                 20.6
350 2015-12-16 22.04                 20.7
351 2015-12-17 23.32                 18.9
352 2015-12-18 26.42                 19.6
353 2015-12-19 23.74                 19.8
354 2015-12-20 22.84                 19.6
355 2015-12-21 23.12                 19.6
356 2015-12-22 24.60                 19.6
357 2015-12-23 27.46                 22.1
358 2015-12-24 24.72                 20.5
359 2015-12-25 23.58                 17.8
360 2015-12-26 23.34                 17.8
361 2015-12-27 24.00                 21.1
362 2015-12-28 22.64                 21.1
363 2015-12-29 21.68                 20.3
364 2015-12-30 21.38                 19.3
365 2015-12-31 24.76                 20.2
    Temperatura Maxima (C) Precipitacao (mm) Final de Semana
1   32.5                    0.0              FALSE
2   33.5                    0.0              FALSE
3   29.9                    0.0               TRUE
4   28.6                    1.2               TRUE
5   28.3                    0.0              FALSE
6   30.5                   12.2              FALSE
7   33.7                    0.0              FALSE
8   32.8                   48.6              FALSE
9   34.0                    4.4              FALSE
10  34.2                    0.0               TRUE
11  34.8                    3.4               TRUE
12  35.4                    0.0              FALSE
13  34.8                    0.8              FALSE
14  34.0                    1.6              FALSE
15  32.8                    3.0              FALSE
16  32.7                    2.0              FALSE
17  35.8                    0.0               TRUE
18  35.6                    0.0               TRUE
19  36.5                    3.7              FALSE
20  35.6                    0.6              FALSE
21  30.9                    0.0              FALSE
22  26.1                   31.0              FALSE
23  26.1                    3.6              FALSE
24  29.4                   13.0               TRUE
25  30.0                    0.0               TRUE
26  28.7                   20.8              FALSE
27  28.7                    1.2              FALSE
28  29.9                    4.9              FALSE
29  29.2                    0.0              FALSE
30  26.9                    0.0              FALSE
⋮   ⋮                      ⋮                 ⋮
336 29.4                    0.0              FALSE
337 26.1                    0.0              FALSE
338 29.1                    0.0              FALSE
339 30.6                    0.1               TRUE
340 28.0                    0.1               TRUE
341 23.9                   47.8              FALSE
342 28.0                    0.0              FALSE
343 27.9                    0.0              FALSE
344 27.7                    0.0              FALSE
345 30.3                    0.0              FALSE
346 30.8                    0.0               TRUE
347 31.0                   12.2               TRUE
348 32.5                    2.0              FALSE
349 32.8                    4.0              FALSE
350 24.8                    1.5              FALSE
351 28.7                    0.0              FALSE
352 33.5                    0.1              FALSE
353 31.3                    1.3               TRUE
354 29.0                    8.4               TRUE
355 29.1                   27.2              FALSE
356 32.4                   43.0              FALSE
357 32.4                    3.0              FALSE
358 31.5                    3.4              FALSE
359 31.0                   39.0              FALSE
360 29.8                   94.8               TRUE
361 28.2                   13.6               TRUE
362 26.7                    0.0              FALSE
363 24.1                   10.3              FALSE
364 22.4                    6.3              FALSE
365 29.0                    0.0              FALSE
    Consumo de cerveja (litros) Dia chuvoso Amplitude térmica (C)
1   25461                       FALSE        8.6
2   28972                       FALSE        9.0
3   30814                       FALSE        7.5
4   29799                       FALSE        7.1
5   28900                       FALSE        7.3
6   28218                        TRUE       10.4
7   29732                       FALSE       14.2
8   28397                        TRUE       13.3
9   24886                       FALSE       12.1
10  37937                       FALSE       12.1
11  36254                       FALSE       12.6
12  25743                       FALSE       14.0
13  26990                       FALSE       13.6
14  31825                       FALSE       12.7
15  25724                       FALSE       11.3
16  29938                       FALSE       10.4
17  37690                       FALSE       13.8
18  30524                       FALSE       12.2
19  29265                       FALSE       13.8
20  35127                       FALSE       12.3
21  29130                       FALSE        8.2
22  25795                        TRUE        6.9
23  21784                       FALSE        7.6
24  28348                        TRUE       10.4
25  31088                       FALSE       11.9
26  21520                        TRUE        9.8
27  29972                       FALSE        8.2
28  22603                       FALSE        9.8
29  22696                       FALSE        7.7
30  26845                       FALSE        6.0
⋮   ⋮                           ⋮           ⋮
336 30471                       FALSE       11.2
337 28405                       FALSE        5.9
338 29513                       FALSE       10.1
339 32451                       FALSE       11.1
340 32780                       FALSE        7.4
341 23375                        TRUE        5.9
342 27713                       FALSE       10.0
343 27137                       FALSE        8.3
344 22933                       FALSE        5.5
345 30740                       FALSE        9.6
346 29579                       FALSE       10.2
347 29188                        TRUE       11.7
348 28131                       FALSE       11.4
349 28617                       FALSE       12.2
350 21062                       FALSE        4.1
351 24337                       FALSE        9.8
352 27042                       FALSE       13.9
353 32536                       FALSE       11.5
354 30127                       FALSE        9.4
355 24834                        TRUE        9.5
356 26828                        TRUE       12.8
357 26468                       FALSE       10.3
358 31572                       FALSE       11.0
359 26308                        TRUE       13.2
360 21955                        TRUE       12.0
361 32307                        TRUE        7.1
362 26095                       FALSE        5.6
363 22309                        TRUE        3.8
364 20467                       FALSE        3.1
365 22446                       FALSE        8.8

### `select()` - selecionando valores com base em nome

Esse comando é bem simples, nós podemos selecionar as colunas com o critério baseado no nome. 
<br>Isso pode incluir "começa com": `starts_with(padrão procurado)`, "termina com": `ends_with(padrão procurado)`, "contém": `contains(padrão procurado)`... <br>
Pra quem manja mais, pode usar expressões regulares com `matches()` ou muitos outros critérios que vc pode dar uma conferida [aqui!](https://www.rdocumentation.org/packages/tidyselect/versions/1.0.0/topics/select_helpers)

Aqui vamos selecionar todas as colunas que contem a palavra "temperatura" no título e guardar esse resultado na variável "selecting"

In [12]:
selecting <- dataset %>% select(contains("Temperatura"))

In [15]:
selecting[1:5,]

  Temperatura Media (C) Temperatura Minima (C) Temperatura Maxima (C)
1 27.30                 23.9                   32.5
2 27.02                 24.5                   33.5
3 24.82                 22.4                   29.9
4 23.98                 21.5                   28.6
5 23.82                 21.0                   28.3

### `filter()` - Filtrando nossa base de dados!

Vamos supor que você quer analisar sua base de dados e segmentar essa análise com base em algum critério.. Isso é só um dos cenários em que pode ser muito importante você usar filtros!

Vamos aqui, pegar apenas os dias em que o consumo de cerveja foi acima da média. Para isso vamos usar a função `mean()` nativa do `R`

In [17]:
filtro_cerveja = dataset %>% filter(`Consumo de cerveja (litros)` > mean(`Consumo de cerveja (litros)`, na.rm = TRUE))

In [18]:
filtro_cerveja[1:5,]

  Data       Temperatura Media (C) Temperatura Minima (C)
1 2015-01-01 27.30                 23.9
2 2015-01-02 27.02                 24.5
3 2015-01-03 24.82                 22.4
4 2015-01-04 23.98                 21.5
5 2015-01-05 23.82                 21.0
  Temperatura Maxima (C) Precipitacao (mm) Final de Semana
1 32.5                   0.0               FALSE
2 33.5                   0.0               FALSE
3 29.9                   0.0                TRUE
4 28.6                   1.2                TRUE
5 28.3                   0.0               FALSE
  Consumo de cerveja (litros)
1 25461
2 28972
3 30814
4 29799
5 28900

Agora vamos filtrar nossa base, pegando apenas as linhas que correspondem a finais de semana

In [19]:
filtro_fds = dataset %>% filter(`Final de Semana` == TRUE)

In [20]:
filtro_fds[1:5,]

  Data       Temperatura Media (C) Temperatura Minima (C)
1 2015-01-03 24.82                 22.4
2 2015-01-04 23.98                 21.5
3 2015-01-10 26.76                 22.1
4 2015-01-11 27.62                 22.2
5 2015-01-17 28.86                 22.0
  Temperatura Maxima (C) Precipitacao (mm) Final de Semana
1 29.9                   0.0               TRUE
2 28.6                   1.2               TRUE
3 34.2                   0.0               TRUE
4 34.8                   3.4               TRUE
5 35.8                   0.0               TRUE
  Consumo de cerveja (litros)
1 30814
2 29799
3 37937
4 36254
5 37690

### `summarise()` - "Tabelas dinâmicas" no R

Usar o verbo `summarise()` vai produzir um único número com a(s) medida(s) resumo escolhidas. <br>
Mas como, muitas vezes, nós queremos segmentar a análise para subgrupos diferentes do dataset, o `summarise()` costuma ser utilizado com o `group_by()`. <br>
O `group_by()` vai fazer com que as medidas resumos sejam feitas com base nos diferentes valores tidos em uma coluna.

Vamos, primeiro, usar o `summarise()` puro. Perceba que ele devolve a medida escolhida levando em consideração todas as linhas.

In [22]:
dataset %>%
  summarise(media = mean(`Consumo de cerveja (litros)`))

  media    n
1 25401.37 365

Agora, utilizando o `group_by()` podemos segmentar os números com base em uma categoria (se é fim de semana ou não).

In [24]:
dataset %>% 
        group_by(`Final de Semana`) %>%
        summarise(`Média de consumo de cerveja (litros)` = mean(`Consumo de cerveja (litros)`), 
                  `Desvio Padrão no consumo de cerveja (litros)` = sd(`Consumo de cerveja (litros)`))

  Final de Semana Média de consumo de cerveja (litros)
1 FALSE           23998.22
2  TRUE           28922.72
  Desvio Padrão no consumo de cerveja (litros)
1 3787.527
2 3830.191

### `arrange()` - Alterando a ordem das linhas do seu dataset

Esse é provavelmente o verbo mais fácil de ser usado. Você passa como argumento um ou mais critérios de ordenação (sendo que a ordem de preferência é a ordem passada). <br>
Caso queira que a ordenação seja decrescente, é só utilizar a função `desc()`.

Ordenando o dataset do maior para o menor consumo de cerveja

In [26]:
desc_consumo_cerveja = dataset %>% arrange(desc(`Consumo de cerveja (litros)`))

In [27]:
desc_consumo_cerveja[1:5,]

  Data       Temperatura Media (C) Temperatura Minima (C)
1 2015-01-10 26.76                 22.1
2 2015-01-17 28.86                 22.0
3 2015-01-11 27.62                 22.2
4 2015-10-15 28.12                 18.9
5 2015-10-31 23.18                 18.2
  Temperatura Maxima (C) Precipitacao (mm) Final de Semana
1 34.2                   0.0                TRUE
2 35.8                   0.0                TRUE
3 34.8                   3.4                TRUE
4 35.8                   0.0               FALSE
5 29.3                   0.0                TRUE
  Consumo de cerveja (litros)
1 37937
2 37690
3 36254
4 35861
5 35781

Ordenando o dataset da menor para a maior Temperatura Máxima

In [28]:
ord_max_temp <- dataset %>% arrange(`Temperatura Maxima (C)`)

In [29]:
ord_max_temp[1:5,]

  Data       Temperatura Media (C) Temperatura Minima (C)
1 2015-07-05 12.90                 11.0
2 2015-09-12 14.00                 12.8
3 2015-07-22 14.52                 12.8
4 2015-09-13 14.18                 12.5
5 2015-06-25 14.72                 12.1
  Temperatura Maxima (C) Precipitacao (mm) Final de Semana
1 14.5                    4.4               TRUE
2 15.6                   27.6               TRUE
3 16.1                    0.0              FALSE
4 16.1                    0.0               TRUE
5 17.4                    1.0              FALSE
  Consumo de cerveja (litros)
1 21294
2 21814
3 14343
4 21252
5 19463

### Usando vários verbos ao mesmo tempo

Vamos agora usar o `summarise()` junto com o `filter()` com as mesmas operações feitas antes, note a diferença. <br>
Agora, estamos fazendo as medidas resumo apenas para o que esta na base filtrada

In [34]:
dataset %>%
        filter(`Consumo de cerveja (litros)` > mean(`Consumo de cerveja (litros)`, na.rm = TRUE))%>%
        group_by(`Final de Semana`) %>%
        summarise(`Média de consumo de cerveja (litros)` = mean(`Consumo de cerveja (litros)`), 
                  `Desvio Padrão no consumo de cerveja (litros)` = sd(`Consumo de cerveja (litros)`))

  Final de Semana Média de consumo de cerveja (litros)
1 FALSE           28313.24
2  TRUE           30440.48
  Desvio Padrão no consumo de cerveja (litros)
1 2278.434
2 2781.788

### Importante!
É importante saber que muitas dessas operações não necessitam no `dplyr` para serem feitas, existindo funções nativas do `R` que dariam conta do recado.
<br> A grande facilidade do `dplyr` é que o código se torna extremamente legível.